div{
    display: flex;
    align-items: center;
    padding-left: 150px;
    padding-right: 10px;
    padding-top: 50px;
    padding-bottom: 2px;
    margin: 20px;
    border: 2px rgb(95, 95, 222);
    
}

h1{
    color: rgb(255, 255, 255);
    text-decoration:wavy;
    text-align:center;
    font-size: xx-large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;

}